body {
    background-color: #6c41ec;
}

h1 {
    padding: .77rem 0;
    background-color: #010c3f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.88rem;
    color: #fff;
}

h1 .highlight {
    color: #6c41ec;
}

h2 {
    color: #010c3f;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    padding-top: 300px;
}